fastapi
uvicorn
aiohttp
beautifulsoup4
nest_asyncio
sentence-transformers
transformers
#pinecone-client now only pinecone we did so using only that
torch
trulens #truelens_eval is deprecited
trulens-providers-litellm
pinecone
google-generativeai
litellm